{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "KEY_VAULT_URL": "https://<your-node-kv>.vault.azure.net/",
    "AZURE_SUBSCRIPTION_ID": "<subscription-guid>",
    "AZURE_RESOURCE_GROUP": "<your-node-rg>"
  }
}
